<div class='row form'>

<div class='col-lg-12'>
  <div class='content'>
    <h2>groupを作成しました。</h2>
    <%= link_to 'group page', group_path(@group) %>
    <%= link_to 'HOME', root_path %>
  </div>
</div>
</div>
