<div class='row form'>

<div class='col-lg-12'>
  <div class='content'>
    <h2>groupに投稿しました。</h2>
    <%= link_to 'album page',  group_g_album_path(@group, @g_album) %>
    <%= link_to 'HOME', root_path %>
  </div>
</div>
</div>
