<div class='row form'>

<div class='col-lg-12'>
  <div class='content'>
    <h2><%= @u_album.name %>に投稿しました。</h2>
    <%= link_to 'album page', user_u_album_path(@user, @u_album) %>
    <%= link_to 'HOME', root_path %>
  </div>
</div>
</div>
