<div class='row form'>

<div class='col-lg-12'>
  <div class='content'>
    <h2>投稿を編集しました</h2>
    <%= link_to 'my page', user_path(@user) %>
    <%= link_to 'HOME', root_path %>
  </div>
</div>
</div>
